:deep(.el-tree-node__content) {
  height: auto;
}

:deep(.el-tree-node__expand-icon) {
  font-size: 14px;
  color: #1e293b;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  font-size: 13px;
  color: #64748b;
  flex-direction: column;
  gap: 8px;
}