:root {
  --el-border-color: #e2e8f0;
  --el-border: 1px solid var(--el-border-color);
  --el-border-radius-base: 8px;
}

.el-form-item__label {
  --el-text-color-regular: #1e293b;

  color: var(--el-text-color-regular);
  font-weight: 500;
}

.el-input {
  --el-input-border-radius: 8px;

  .el-input__inner {
    --el-input-inner-height: 40px;
  }
}

.el-button {
  padding: 10px 20px;
  height: 40px;

  &.is-disabled,
  &.is-disabled:hover {
    background-color: #92b1f5;
    border-color: #92b1f5;
  }
}

.el-button--primary {
  --el-button-bg-color: #2563eb;
  --el-button-border-color: #2563eb;
  --el-button-hover-bg-color: #3b82f6;
  --el-button-hover-border-color: #3b82f6;
}

.el-tree {
  --el-tree-node-content-height: 32px;
  --el-tree-text-color: #1e293b;

  font-size: 13px;
  background-color: transparent;

  .el-tree-node__content {
    border-radius: 6px;
  }

  &.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: #d6e3f9;
  }
}

.el-dialog {
  --el-dialog-border-radius: 12px;

  .el-dialog__title {
    font-size: 16px;
  }

  .dialog-header__btn {
    .el-button.is-link {
      font-size: 20px;
      color: #1e293b;
    }
  }
}

.el-popover {
  --el-popover-border-radius: 8px;
  --el-popover-padding: 0;

  &.el-popper {
    min-width: 0;
  }
}

.el-table {
  font-size: 13px;

  .el-table__header {
    .el-table__cell {
      background-color: #f8fafc !important;
    }
  }

  .el-table__header-wrapper,
  .el-table__fixed-header-wrapper {
    th {
      height: 40px;
      font-size: 13px;
      color: #64748b;
      background-color: #f8fafc;
      word-break: break-word;
    }
  }

  .el-table__body-wrapper {
    .el-button [class*='el-icon-'] + span {
      margin-left: 1px;
    }
  }

  .el-table__body tr.current-row > td.el-table__cell {
    background-color: #b5d8ff;
  }
}

.el-tag {
  font-weight: 500;

  &.el-tag--primary {
    --el-tag-text-color: #1e40af;
    --el-tag-bg-color: #dbeafe;
    --el-tag-border-color: #dbeafe;
  }

  &.el-tag--success {
    --el-tag-text-color: #166534;
    --el-tag-bg-color: #dcfce7;
    --el-tag-border-color: #dcfce7;
  }
}

.el-select {
  .el-select__wrapper {
    min-height: 40px;
  }
}