:root {
  --primary-color: #2563eb;
  --border-color: #e2e8f0;
  --border: 1px solid var(--border-color);
  --font-family: 'Helvetica Neue', helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', simsun, sans-serif;
}